<h1>Trabalho Fiap</h1>
<p>Bem vindo ao nosso software:</p>
<ul>
  <li>
    Um sistema de gestão ou software é um programa de computador que agrupa diversas vantagens para os vários processos de gestão de um negócio. Com muitas opções, ele auxilia na rotina de casas de repouso de pequeno, médio e grande porte, sendo a solução para compor e organizar as responsabilidades de seus funcionários.

    Também tendo como finalidade principal automatizar os processos operacionais, tornando-se essencial para a administração de qualquer estabelecimento.

    Se idealizado para casas de repouso, o software deve centralizar todas as informações em um único ambiente. Seu objetivo é que tanto o gestor quanto a equipe passem a ter uma visão mais ampla de todas as etapas de atividades que acontecem no local. Assim, tendo um balanço de quais os idosos necessitam de mais atenção ou atendimentos personalizados, por exemplo.
  </li>
</ul>
